@font-face {
  font-family: "iconfont";
  /* Project id 4025823 */
  src: url('/font/iconfont.woff2?t=1681892481866') format('woff2'),
    url('/font/iconfont.woff?t=1681892481866') format('woff'),
    url('/font/iconfont.ttf?t=1681892481866') format('truetype'),
    url('/font/iconfont.svg?t=1681892481866#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e67b";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-gengduo:before {
  content: "\e73a";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-xiaoxizhongxin:before {
  content: "\e665";
}

.icon-xinxi:before {
  content: "\e649";
}

.icon-caidan:before {
  content: "\e648";
}

.icon-soucang:before {
  content: "\e664";
}

.icon-caidan1:before {
  content: "\e62a";
}

.icon-rili:before {
  content: "\e643";
}

.icon-shangjiantou:before {
  content: "\e600";
}

.icon-xiajiantou:before {
  content: "\e601";
}

.icon-youjiantou:before {
  content: "\e602";
}

.icon-zuojiantou:before {
  content: "\e603";
}

.icon-xiugai:before {
  content: "\e8cf";
}

.icon-mima:before {
  content: "\e66e";
}

.icon-wendang:before {
  content: "\e67a";
}

.icon-xinzeng:before {
  content: "\e616";
}

.icon-role-list:before {
  content: "\e60e";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-jiantou_zuoyouqiehuan:before {
  content: "\eb0d";
}

.icon-quxiaoquanping:before {
  content: "\eb10";
}

.icon-quanping:before {
  content: "\eb11";
}

.icon-yanjing_yincang:before {
  content: "\eb45";
}

.icon-yanjing_xianshi:before {
  content: "\eb46";
}

.icon-zitidaima:before {
  content: "\ec83";
}

.icon-zhongzhi:before {
  content: "\e604";
}

.icon-rizhi:before {
  content: "\e63e";
}

.icon-yulan:before {
  content: "\e61c";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-daochu:before {
  content: "\e637";
}

.icon-yonghu:before {
  content: "\e65b";
}

.icon-1fuwenben:before {
  content: "\e62c";
}

.icon-data-management:before {
  content: "\e93c";
}

.icon-nine-squares-full:before {
  content: "\ea3f";
}

.icon-daoru:before {
  content: "\ee34";
}

.icon-yichangrizhi:before {
  content: "\e614";
}

.icon-zhedie-zhankai:before {
  content: "\e717";
}

.icon-zhedie-shouqi:before {
  content: "\e718";
}