// :root {
// background-color: $body-bg;
// }

html,
body,
#app,
.app-wrapper {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size;
  cursor: default;
  color: $black;
  position: relative !important;
}


[hidden],
[v-cloak] {
  display: none !important;
}

.radio,
.checkbox {
  display: inline-block;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.app-container {
  padding: 20px 20px 45px 20px;
}

.mgb20 {
  margin-bottom: 20px;
}

.head-container {
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 10px 0;

    input {
      width: 100%;
      height: 30.5px;
      line-height: 30.5px;
    }
  }

  .date-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    height: 30.5px !important;
    width: 230px !important;
  }
}